// BROWSER RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//I can import google fonts right into this file apparently

html {
  box-sizing: border-box;
  font-size: 100%;  // 10px/16px = 62.5% --> 1rem = 10px

}

body {  
  font-weight: 300;
  line-height: 1.6;
}