.logo {
  font-family: 'Roboto', sans-serif; 
  
}


.header {
  font-family: 'Roboto', sans-serif; 
  font-size: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  

  border-bottom: 1px solid;
}

.hamburger-logo {
  display: flex;
  
  
}


.header-links {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin-left: 1rem;
  

  &__page {
    padding: .5rem;
    
    &:hover {
      background-color: var(--color-grey-light-2);
    }

    @media only screen and (max-width: $bp-small){
      visibility: hidden;
      display: none;
    }
  }
}

.header-page-link {
  text-decoration-line: none;
  color: black;
}

.hamburger-icon {
  visibility: hidden;
  display: none;

  @media only screen and (max-width: $bp-small) {      
    display: flex;
    align-self: stretch;
    align-items: center;
    cursor: pointer;
    padding-right: 1rem;
    
    visibility: visible;
  }

  // @media only screen and (min-width: $bp-small) {
  //   margin: 0;
  // }
}

